.color-example {
  color: palegreen;
  background: #113311;
  border: 2px solid #338833;
}

.header-example {
  font-family: Verdana, sans-serif;
  font-size: 2rem;
  color: #113311;
}

.list-example {
  list-style-type: square;
  color: #225522;
}

#header {
  background-color: salmon;
}

#header h1 {
  margin-bottom: 0;
}

#nav {
  background-color: bisque;
  text-align: center;
}

#nav a {
  padding: 8px 16px;
  display: inline-block;
}

#nav a:hover {
  color: red;
}

#sidebar {
  background-color: palevioletred;
  float: left;
  width: 200px;
  height: 100%;
  padding: 8px 0;
}

#sidebar a {
  display: block;
  padding: 4px 16px;
}

#section {
  background-color: pink;
  float: left;
  width: calc(100% - 200px);
  padding: 8px 0;
  height: 100%;
}

body {
  background-color: #f1f2f4;
  background-image: url("https://i.imgur.com/ZOcLM7h.jpeg");
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 16px);
}

h1 {
  border: 2px solid black;
  margin: 0 0 16px 0;
  padding: 0 14px;
}

h2 {
  margin: 0 0 16px 0;
  padding: 0 16px;
}

p {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 8px 16px;
}

figure {
  margin: 0 0 16px;
}

label {
  margin: 0 0 0 16px;
}

footer {
  clear: both;
  padding: 8px 16px;
  background-color: bisque;
}

.content-wrapper {
  height: 430px;
}

img {
  max-width: 100%;
  height: auto;
}

img,
figcaption {
  margin: 0 16px;
}
